* {
    margin: 0px;
    padding: 0px;
    background-color: #f0f0f0;
}

.container {
    text-align: center;
    padding-top: 20px;
}

.title {
    font-weight: bold;
}

#fire-canvas {
    display: block;
    margin: 0 auto;
    margin-top: 15px;
}